/*
*	GENERAL
*/
html,
body {
	@apply font-sans text-base text-gray-900;
	scroll-behavior: smooth;
}
body {
	background-color: #f5f5f5;
}
@screen xl {
	body {
		background-image: url('../img/aardwark-pink.svg');
		background-repeat: no-repeat;
		background-position: bottom 0 right -130px;
		background-size: 300px 200px;
		background-attachment: fixed;
	}
}

/*
*	NAVIGATION
*/
/* left nav */
.nav-wrap {
	transition: transform .3s cubic-bezier(0.215, 0.610, 0.355, 1);
	transform: translateX(100%);
}
.nav-wrap.is-opened {
	transform: translateX(0);
}
.left-nav {
	@apply mt-2 text-lg;
}
.left-nav > li {
	@apply relative flex justify-between lg:justify-end;
}
.left-nav > li > a {
	@apply flex justify-start px-4 py-1;
}
.left-nav > li:hover,
.left-nav > li:hover > ul,
.current-menu-parent,
.current-menu-item {
	@apply bg-primary;
}
.left-nav > li:hover > ul {
	@apply hidden lg:flex flex-col;
}
.left-nav > li > ul {
	@apply absolute left-full top-0 w-60 hidden;
}
.left-nav > li > ul a {
	@apply flex px-4 py-1;
}
.left-nav > li > ul a:hover {
	@apply bg-secondary;
}
.left-nav li[class*="aa-"] {
	@apply hidden;
}
body.aa-tpp .left-nav li.aa-tpp,
body.aa-sro .left-nav li.aa-sro,
body.aa-student .left-nav li.aa-student,
body.aa-zl .left-nav li.aa-zl {
	@apply block;
}
body.administrator .left-nav li {
	display: flex !important;
}
.js-mob-sub-nav a {
	@apply flex py-1 text-lg;
}
.current-menu-parent .current-menu-item {
	@apply underline;
}
@screen lg {
	.nav-wrap {
		transform: translateX(0);
	}
	.left-nav {
		@apply text-base;
	}
	.left-nav > li > a {
		@apply justify-end;
	}
}
.sub-nav-wrap {
	transition: transform .3s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.sub-nav-wrap.is-opened {
	transform: translateX(-50%);
}

/*
*	MOBILE NAVIGATION
*/
.hamburger__bar {
	stroke-width: 10%;
	transition-property: transform;
	transition-duration: 0.3s;
	transform-origin: center;
}
.hamburger__bar--top {
	transform: translateY(-30%);
}
.hamburger__bar--bottom {
	transform: translateY(30%);
}
.is-opened .hamburger__bar--top {
	transform: rotate(45deg);
}
.is-opened .hamburger__bar--middle {
	transform: rotate(-45deg);
}
.is-opened .hamburger__bar--bottom {
	transform: scaleX(0.01);
}

/*
*	EDITOR
*/
.prose .btn {
	@apply text-white;
}
.wp-block-file {
	@apply flex items-center justify-between p-4 mb-8 rounded-lg bg-gray-200;
}
.wp-block-file a {
	@apply no-underline text-black font-bold;
}
.wp-block-file .wp-block-file__button {
	@apply btn px-8 py-4 rounded-lg bg-primary hover:bg-secondary text-white font-semibold tracking-wide no-underline text-base;
}
.wp-block-table tr {
	@apply border-t border-gray-300;
}
.wp-block-table tr:first-child {
	@apply border-0;
}
.wp-block-table th,
.wp-block-table td {
	@apply p-1;
}
.prose .wp-block-separator {
	@apply border-t border-dotted border-gray-400;
}
.prose .wp-block-media-text * {
	margin: 0 !important;
}
.wp-block-media-text {
	@apply bg-quaternary text-white;
}
.wp-block-media-text__content {
	@apply p-4;
}
.wp-block-media-text__content a {
	@apply text-white no-underline;
}
.has-large-font-size {
	font-size: 1.5rem !important;
	line-height: 1.25 !important;
	@apply pb-4;
}

/*
*	FORMS
*/
input:placeholder-shown,
textarea:placeholder-shown {
    @apply bg-white;
}