/*
*	GENERAL
*/
html,
body {
	@apply font-sans text-base text-gray-900;
	scroll-behavior: smooth;
}
body {
	background-color: #f5f5f5;
}
.svg-wrap svg {
	@apply lg:h-full;
}
.rounded-wrap img {
	border-radius: .5rem !important;
}
.btn-secondary-wrap a {
	@apply btn px-8 py-4 border-2 border-primary rounded-full bg-white hover:bg-quaternary text-primary font-semibold tracking-wide no-underline;
}

/*
*	NAVIGATION
*/
/* left nav */
.nav-wrap {
	transition: transform .3s cubic-bezier(0.215, 0.610, 0.355, 1);
	transform: translateX(100%);
}
.nav-wrap.is-opened {
	transform: translateX(0);
}
.left-nav {
	@apply mt-2 text-lg;
}
.left-nav > li {
	@apply relative flex justify-between;
}
.left-nav > li > a {
	@apply flex justify-start px-4 py-2 tracking-wide font-semibold;
}
.left-nav > li:hover,
.left-nav > li:hover > ul,
.current-menu-parent,
.current-menu-item {
	@apply bg-green;
}
.left-nav > li:hover > ul {
	@apply hidden lg:flex flex-col;
}
.left-nav > li > ul {
	@apply absolute left-full top-0 w-60 lg:drop-shadow-2xl hidden;
}
.left-nav > li > ul a {
	@apply flex w-full px-4 py-2;
}
.left-nav > li > ul a:hover {
	@apply text-white;
}
.left-nav > li.aa-zl,
.left-nav li.aa-zl,
.left-nav > li.tpp-1,
.left-nav li.tpp-1,
.left-nav > li.dpt-7,
.left-nav li.dpt-7,
.left-nav > li.ico-23,
.left-nav li.ico-23,
.left-nav > li.ico-6,
.left-nav li.ico-6,
.left-nav > li.studenti-4,
.left-nav li.studenti-4
{
	@apply hidden;
}
body.aa-zl .left-nav li.aa-zl,
body.tpp-1 .left-nav li.tpp-1,
body.dpt-7 .left-nav li.dpt-7,
body.ico-23 .left-nav li.ico-23,
body.ico-6 .left-nav li.ico-6,
body.studenti-4 .left-nav li.studenti-4 {
	@apply block;
}
body.administrator .left-nav li {
	display: flex !important;
}
.js-mob-sub-nav a {
	@apply flex py-1 text-lg;
}
.current-menu-parent .current-menu-item {
	@apply underline;
}
@screen lg {
	.nav-wrap {
		transform: translateX(0);
	}
	.left-nav {
		@apply text-base;
	}
	/*.left-nav > li > a {
		@apply justify-end;
	} */
	.menu-item-has-children:after {
		content:"+";
		@apply relative top-2 pr-4 font-bold;
	}
}
.sub-nav-wrap {
	transition: transform .3s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.sub-nav-wrap.is-opened {
	transform: translateX(-50%);
}
.fnav {
	@apply mb-8;
}
.fnav li {
	@apply mb-2;
}
.fnav li a:hover {
	@apply text-quaternary;
}

/*
*	MOBILE NAVIGATION
*/
.hamburger__bar {
	stroke-width: 10%;
	transition-property: transform;
	transition-duration: 0.3s;
	transform-origin: center;
}
.hamburger__bar--top {
	transform: translateY(-30%);
}
.hamburger__bar--bottom {
	transform: translateY(30%);
}
.is-opened .hamburger__bar--top {
	transform: rotate(45deg);
}
.is-opened .hamburger__bar--middle {
	transform: rotate(-45deg);
}
.is-opened .hamburger__bar--bottom {
	transform: scaleX(0.01);
}

/*
*	EDITOR
*/
.prose .btn {
	@apply text-white;
}
.wp-block-file {
	@apply flex items-center justify-between p-4 mb-8 rounded-lg bg-gray-200;
}
.wp-block-file a {
	@apply no-underline text-black font-bold;
}
.wp-block-file .wp-block-file__button {
	@apply btn px-8 py-4 rounded-lg bg-primary hover:bg-secondary text-white font-semibold tracking-wide no-underline text-base;
}
.wp-block-table tr {
	@apply border-t border-gray-300;
}
.wp-block-table tr:first-child {
	@apply border-0;
}
.wp-block-table th,
.wp-block-table td {
	@apply p-1;
}
.prose .wp-block-separator {
	@apply border-t border-dotted border-gray-400;
}
.prose .wp-block-media-text * {
	margin: 0 !important;
}
.wp-block-media-text {
	@apply bg-quaternary text-white;
}
.wp-block-media-text__content {
	@apply p-4;
}
.wp-block-media-text__content a {
	@apply text-white no-underline;
}
.has-large-font-size {
	font-size: 1.5rem !important;
	line-height: 1.25 !important;
	@apply pb-4;
}
.wp-block-quote {
	background-image: url(../img/aardwark-pink.svg);
	background-size: 100px 100px;
	background-position: top center;
	background-repeat: no-repeat;
	margin-top: 3rem !important;
	margin-bottom: 4rem !important;
	border: 0 !important;
	font-style: normal !important;
	@apply pt-24 text-center;
}
.wp-block-quote p {
	@apply m-0 mb-4 text-primary text-2xl;
}
.wp-block-quote cite {
	font-style: normal !important;
	@apply text-lg;
}
.wp-block-ub-content-toggle-accordion-title-wrap {
	@apply px-4 py-3 border border-gray-200 rounded-lg bg-white hover:bg-quaternary hover:bg-opacity-10;
}
.wp-block-ub-content-toggle-accordion-title {
	padding: 0 !important;
	@apply text-lg font-semibold;
}
.wp-block-ub-content-toggle-accordion {
	@apply border-0;
}

/*
*	FORMS
*/
input:placeholder-shown,
textarea:placeholder-shown {
    @apply bg-white;
}
.form-wrap input[type="text"],
.form-wrap input[type="email"],
.form-wrap textarea {
	@apply w-full border-primary focus:border-quaternary focus:ring-primary bg-quaternary text-white;
}
input[type="text"],
input[type="email"] {
	@apply rounded-lg;
}
.form-wrap p {
	@apply m-0;
}
.form-wrap textarea {
	@apply max-h-36 rounded-lg;
}
.inputfile {
	@apply block w-full text-sm text-primary;
}
.inputfile::file-selector-button {
	@apply mr-4 rounded-full border-0 bg-quaternary py-2 px-4 text-sm font-semibold text-primary;
}